.DS_Store

# Distribution / packaging
*.egg-info/
*.egg
__pycache__/

# Serverless directories
node_modules/
package-lock.json
package.json
.serverless

# SASS directories
.sass-cache/

# Development directories
data*.json
