<!DOCTYPE html>

<html>
<head>
  <title>Login | Scoreboard</title>
  <link href="/static/login.css" rel="stylesheet">
</head>
<body>
  <h1 class="header">Login</h1>
  <form action="auth" method="post" id="login-form">
    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="passwword"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button type="submit">Login</button>
    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/static/login.js"></script>
</body>
</html>
